{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center align-items-center min-vh-90 py-3">
    <div class="col-md-4 col-12 bg-light p-5 rounded shadow-sm">
        <h2 class="text-center mb-4">Criar uma conta</h2>

        {% if form.errors %}
            <div class="alert alert-danger">
                Por favor, corrija os erros abaixo:
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group"></div>
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block py-3 mt-3">Cadastrar</button>
        </form>

        <div class="text-center mt-3">
            <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
        </div>
    </div>
</div>
{% endblock %}
