{% extends 'base.html' %}
{% load static %}

{% block title %} Página Inicial {% endblock %}

{% block content %}

<div class="container">
    <form action="{% url 'listar_especies' %}" method="GET">
        <div class="row justify-content-center py-5 align-items-center">
            <div class="col-md-6 input-group">
                <input type="text" class="form-control form-control-lg rounded-start" name="q" placeholder="Buscar..." aria-label="Buscar..." required aria-describedby="button-addon2">
                <button class="btn btn-primary btn-lg " type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-lg " type="button">
                    <i class="fa-solid fa-eraser"></i>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-10">
            <h2 style="font-size: 30px;">O que é Sempre Vivas?</h2>
            <p class="py-2" style="font-size:16px; text-align: justify;">Sempre Vivas é um projeto de desenvolvimento de
                software, que visa a construção de um sistema de gerenciamento de espécies de erva-flores, com o
                objetivo de facilitar a coleta, armazenamento e distribuição de erva-flores. O projeto tem como objetivo
                oferecer uma plataforma de coleta e armazenamento de erva-flores para a comunidade, permitindo que as
                pessoas possam coletar e armazenar erva-flores de forma fácil e segura.</p>
        </div>
    </div>

    <div class="container-fluid py-2 rounded-5"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide shadow-lg rounded-3" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>

                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active">
                            <div class="d-flex">
                                <img class="d-block w-560" src="{% static 'sempreviva1.jpg' %}" alt="Slide 1">
                                <img class="d-block w-50" src="{% static 'sempreviva2.jpg' %}" alt="Slide 2">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <img class="d-block w-50" src="{% static 'sempreviva3.jpg' %}" alt="Slide 3">
                                <img class="d-block w-50" src="{% static 'sempreviva4.jpg' %}" alt="Slide 4">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <img class="d-block w-50" src="{% static 'sempreviva5.jpg' %}" alt="Slide 5">
                                <img class="d-block w-50" src="{% static 'sempreviva6.jpg' %}" alt="Slide 6">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <img class="d-block w-50" src="{% static 'sempreviva7.jpg' %}" alt="Slide 7">
                                <img class="d-block w-50" src="{% static 'sempreviva8.jpg' %}" alt="Slide 8">
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}