{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container-semprevivas">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="dashboard-user-semprevivas">Olá, {{ user.username | default:'Visitante' }}!</h2>
            <p class="text-muted">Bem-vindo ao Sistema Sempre Vivas</p>
        </div>

        <div class="row">
            <div class="col-md-3 col-6 mb-4">
                <div class="dashboard-card-semprevivas">
                    <i class="bi bi-flower1 dashboard-icon-semprevivas"></i>
                    <h4 class="dashboard-title-semprevivas">Eriocaulaceae</h4>
                    <p class="dashboard-text-semprevivas">Ver espécies</p>
                    <a href="{% url 'listar_especies' %}" class="dashboard-btn-semprevivas">
                        Acessar
                    </a>
                </div>
            </div>
            
            {% for group in request.user.groups.all %}
                {% if group.name == 'Adm' or group.name == 'Pesquisadores' %}
                <div class="col-md-3 col-6 mb-4">
                    <div class="dashboard-card-semprevivas">
                        <i class="bi bi-people dashboard-icon-semprevivas"></i>
                        <h4 class="dashboard-title-semprevivas">Equipe</h4>
                        <p class="dashboard-text-semprevivas">Gerenciar pesquisadores</p>
                        <a href="{% url 'listar_equipe' %}" class="dashboard-btn-semprevivas">
                            Acessar
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            
            {% for group in request.user.groups.all %}
                {% if group.name == 'Adm' %}
                <div class="col-md-3 col-6 mb-4">
                    <div class="dashboard-card-semprevivas">
                        <i class="bi bi-file-earmark-text dashboard-icon-semprevivas"></i>
                        <h4 class="dashboard-title-semprevivas">Solicitações</h4>
                        <p class="dashboard-text-semprevivas">Ver solicitações</p>
                        <a href="{% url 'listar_solicitacoes' %}" class="dashboard-btn-semprevivas">
                            Acessar
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            
            {% for group in request.user.groups.all %}
                {% if group.name == 'Adm' %}
                <div class="col-md-3 col-6 mb-4">
                    <div class="dashboard-card-semprevivas">
                        <i class="bi bi-people-fill dashboard-icon-semprevivas"></i>
                        <h4 class="dashboard-title-semprevivas">Usuários</h4>
                        <p class="dashboard-text-semprevivas">Gerenciar usuários</p>
                        <a href="{% url 'listar_usuarios' %}" class="dashboard-btn-semprevivas">
                            Acessar
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
              {% for group in request.user.groups.all %}
                {% if group.name == 'Adm' %}
                <div class="col-md-3 col-6 mb-4">
                    <div class="dashboard-card-semprevivas">
                        <i class="bi bi-people-fill dashboard-icon-semprevivas"></i>
                        <h4 class="dashboard-title-semprevivas">Adicionar Pesquisador</h4>
                        <p class="dashboard-text-semprevivas">Gerenciar usuários</p>
                        <a href="{% url 'adicionar_pesquisador' %}" class="dashboard-btn-semprevivas">
                            Acessar
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}